@page "/"
<html>


<PageTitle>Home</PageTitle>

<img src="./sample-data/IMG_worker.jpg" alt="a person handling so many tasks" style="width:1250px;height:480px;">

<h6 style="font-size:400%; text-align:center; font-family:'Lucida Handwriting'; background-color:skyblue;">Hello, welcome!</h6>

<p style="font-size:130%; text-align:center; font-family:'verdana'; border:2px solid steelblue;"> Make handling task way more fun and efficient.</p>


</html>